.btn-default {
  display: inline-block;
  background-color: var(--color-primary-5);
  color: var(--text-primary-1);
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px #b5b5b5;
  transition: background-color .3s ease;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-default:hover {
  background-color: var(--color-primary-3);
}

.btn-default:active {
  position: relative;
  top: 1.5px;
}

.btn-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  gap: 6px;
  background-color: #ffffff;
  text-shadow: 1px 1px 1px #696969;
}

.btn-phone:hover {
  background-color: var(--color-primary-5);
}

.socialmedia-buttons{
  display: flex;  
  gap: 16px;
}

.socialmedia-buttons a {
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 35px;
  /* 21.01 + 6px (padding esquerdo) + 8px (padding direito) */
  height: 35px;
  /* 25 + 6px (padding superior) + 8px (padding inferior) */
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px #cc9f52;
  transition: background-color .3s ease;
}

.socialmedia-buttons a:hover {
  background-color: var(--color-primary-5);
}