header {
  width: 100%;
  padding: 26px 8vw;
  position: sticky;
  top: 0;  
  z-index: 3;
  background-color: #fff9ea;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 1px 5px;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--color-primary-6);
}

#nav-logo-rest-text {
  position: relative;
}

#nav-logo-rest-text h2 {
  line-height: 0.1;
  font-size: 1.25rem;
  color: var(--color-primary-7);
}

#nav-logo h2,
i {
  font-size: 1.5rem;
  text-transform: uppercase;
}

#nav-list {
  display: flex;
  gap: 4rem;
}

.nav-list-item a {
  color: var(--text-primary-1-light);
  font-weight: 600;

}

.nav-list-item.active a {
  color: var(--text-primary-1);
  border-bottom: 2px solid var(--color-primary-5);
}

#mobile-btn-menu {
  border: none;
  display: none;
  background-color: transparent;
}

#mobile-btn-menu i {
  font-size: 1.5rem;
  color: var(--color-primary-6);
  cursor: pointer;
}

#mobile-navmenu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #nav-list,
  #navbar .btn-default {
    display: none;
  }

  #mobile-btn-menu {
    display: block;
  }

  #mobile-navmenu.mobile-menu-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  #mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    text-align: center;
    color: var(--text-primary-1-light);
    font-weight: 600;
  }
}