section {
  padding: 26px 8vw;
}

#home {
  display: flex;
  min-height: calc(100vh - 90px);

  position: relative;
}

#content {}

#cta {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 40%;
  justify-content: center;
}

.section-maintitle {
  font-size: 4rem;
  color: var(--text-primary-1);
}

#cta span {
  color: var(--color-primary-6);
}

#cta p {
  font-size: 1.2rem;
}

#cta-buttons {
  display: flex;
  gap: 26px;
}

#socialmedia-buttons {
  display: flex;
  gap: 20px;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  z-index: 2;
}

#banner img {
  max-width: 90%;
  max-height: 660px;
  background-color: var(--color-primary-2);
  border-radius: 40% 30% 40% 20%;
}

@media screen and (max-width: 1200px) {
  section {}

  #home {
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
  }

  #cta {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.25;
    align-items: center;
  }

  #banner {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  #banner img {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #cta h1 {
    line-height: 1;
  }

  #cta-buttons {
    flex-direction: column;
    gap: 16px;
  }
}