@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg: #f5ecd6;


  /*DEBUG variables*/
  --debug-color-g1: #191919;
  --debug-color-g2: #3f3f3f;
  --debug-color-g3: #6a6a6a;
  --debug-color-g4: #949494;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  background-color: var(--main-bg);
  list-style: none;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  padding: 1.8rem 64px;
  background-color: var(--debug-color-g1);
}

#navbar {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--debug-color-g2);
}

#nav-list {
  display: flex;
  gap: 2rem;
}