@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg: #f5ecd6;
  --color-primary-1: #fff9ea;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f8d477;
  --color-primary-4: #ffe100;
  --color-primary-5: #ffcb45;
  --color-primary-6: #e9a209;
  --color-primary-7: #cd8f09;

  --text-primary-1: #1d1d1d;
  --text-primary-1-light: #1d1d1da8;
  /*DEBUG variables*/
  --debug-showElement: block;
  --debug-color-g1: #191919;
  --debug-color-g2: #3f3f3f;
  --debug-color-g3: #6a6a6a;
  --debug-color-g4: #949494;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  background-color: var(--main-bg);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.debug {
  display: var(--debug-showElement);
  font-size: 12px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

main {
  flex: 1;
}